<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>PurchaseBillItem管理</title>
<link rel="stylesheet" type="text/css" href="plugins/extjs/ext-2.2/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="stylesheet/icon.css" />
<link rel="stylesheet" type="text/css" href="stylesheet/ext-patch.css" />
<script type="text/javascript" src="plugins/extjs/ext-2.2/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="plugins/extjs/ext-2.2/ext-all.js"></script>
<script type="text/javascript" src="plugins/lanyo-ajax/core.js"></script>
<script type="text/javascript">
	Ext.BLANK_IMAGE_URL = 'plugins/extjs/ext-2.2/resources/images/default/s.gif';
</script>
</head>

<body>
<div id="loading">
	<div class="loading-indicator"><img src="images/extanim32.gif" width="32" height="32" style="margin-right:8px;" align="absmiddle"/>Loading...</div>
</div>
<script defer="defer" type="text/javascript">

PurchaseBillItemPanel=Ext.extend(EasyJF.Ext.CrudListPanel,{
	id:"purchasebillitemPanel",
	title:"PurchaseBillItem管理",
	baseUrl:"purchasebillitem.ejf",
	createForm:function(){
	var formPanel=new Ext.form.FormPanel({
		frame:true,
		labelWidth:70,
		labelAlign:'right',
		defaultType:'textfield',
                        defaults:{width:200},
                        items:[{xtype:"hidden",name:"id"},
{fieldLabel:'remark',name:'remark'}
	
                        ]
	});

		return formPanel;
    },
    createWin:function(callback, autoClose)
    {
    	return this.initWin(438,300,"PurchaseBillItem管理",callback, autoClose);
    },
    storeMapping:["id",
    "remark"	],
	initComponent : function(){
    this.cm=new Ext.grid.ColumnModel([
{header: "remark", sortable:true,width: 300, dataIndex:"remark"}
        ]);
	PurchaseBillItemPanel.superclass.initComponent.call(this);
}     
});
 

Ext.onReady(function(){	
	var panel=new PurchaseBillItemPanel();
	setTimeout(function(){
        Ext.get('loading').fadeOut({remove:true});
    }, 300);
	var viewport = new Ext.Viewport({
        layout:'fit',
        items:[panel]
    });
	//panel.store.load();
});

</script>
</body>
</html>
